dialog header div {
  font-weight: 600;
}

table {
  min-width: 500px;
  font-size: small;
}

dialog .info {
  color: #39638e;
  font-size: smaller;
  margin-bottom: 1rem;
}

dialog .info:empty {
  display: none;
}

/* 

dialog .info-preview div {
  color: #39638e;
  font-size: smaller;
  padding: 0.75rem;
}

dialog .info-preview img {
  width: 100%;
}

dialog h3 {
  margin-bottom: 1rem;
} */


/* dt {
  float: left;
  clear: left;
  margin-right: 10px;
}
dd {
  margin-left: 0px;
} */

/* dl {
  display: flex;
  flex-flow: row wrap;
  border: solid #666;
  padding-left: 0;
  max-width: 500px;
  border-width: 1px 1px 0 0;
  font-size: small;
}

dt {
  flex-basis: 30%;
  padding: 2px 4px;
  background: #666;
  text-align: right;
  color: #fff;
}

dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #666;
} */
