.filter {
  display: inline-block;
}

.collection {
  border: 1px solid #ccc;
  padding: 1rem;
  min-height: 1470px;
}

.header {
  font-size: 18px;
  font-weight: 700;
  color: #777;
  margin-top: 8px;
  margin-bottom: 18px;

  .option {
    font-size: 22px;
    color: #212529;
    margin-right: 0.5rem;
    font-style: italic;
  }

  .inverse {
    color: #eee;
    background-color: #212529;
    padding: 5px;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

.grid {
  display: grid;
  row-gap: 1.8rem;
  column-gap: 1.8rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .body {
      padding: 8px;
      font-size: 18px;
      min-height: 58px;
    }

    .bottom {
      padding: 6px 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      background-color: #e7e7e7;
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }
}
