[data-theme='light'],
:root:not([data-theme='dark']) {
  --contrast: #d81b60;
  --contrast-hover: #c2185b;
  --contrast-focus: rgba(216, 27, 96, 0.125);
  --contrast-inverse: #fff;
}

/* Override Pico styling */
.ReactCrop__drag-handle[role='button'] {
  padding: 0;
  background-color: transparent;
  border: none;
}

/* 
img:before {
  content: " (Image - Right click to reload if not loaded)";
}

img::before {
  content: " (Image - Right click to reload if not loaded)";
} */