[data-theme='light'],
:root:not([data-theme='dark']) {
  --contrast: #d81b60;
  --contrast-hover: #c2185b;
  --contrast-focus: rgba(216, 27, 96, 0.125);
  --contrast-inverse: #fff;
}

/* Override Pico styling */
.ReactCrop__drag-handle[role='button'] {
  padding: 0;
  background-color: transparent;
  border: none;
}

/* Used by the collection page to print family collections. */
@media print {
  header,
  main .grid,
  #filter,
  footer {
    display: none !important;
  }

  html,
  body,
  #root,
  main.container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: unset;
    border: none;
  }

  #collection {
    padding: 0;
    margin: 0;
    /* Magic invisible border. If this is removed the print won't fit on one page (one blank page is added). Not sure why.  */
    border: 1px solid white;
    min-height: unset;
  }

  #header {
    position: fixed;
    top: 0;
  }

  #grid {
    margin-top: 60px;
  }

  #collection .collection-footer div:nth-child(1) {
    font-size: 14px;
  }

  #collection .collection-footer div:nth-child(2) {
    font-size: 11px;
  }
}
