.center {
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

th {
  white-space: nowrap;
}

th a {
  text-decoration: none;
  color: hsl(205, 20%, 32%);
}

th a:hover {
  color: hsl(205, 20%, 20%);
}

table[role='grid'] tbody tr:hover {
  background-color: #39638e2e;
  cursor: pointer;
}

dialog .info {
  color: #39638e;
  font-size: smaller;
  margin-bottom: 1rem;
}

dialog .info-preview div {
  color: #39638e;
  font-size: smaller;
  padding: 0.75rem;
}

dialog .info-preview img {
  width: 100%;
}

dialog h3 {
  margin-bottom: 1rem;
}

.header-buttons {
  text-align: right;
}

.header-buttons button {
  width: auto;
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --contrast: #d81b60;
  --contrast-hover: #c2185b;
  --contrast-focus: rgba(216, 27, 96, 0.125);
  --contrast-inverse: #fff;
}

form .error {
  color: #c62828;
}

form .input-horizontal {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

form .input-horizontal input {
  margin-bottom: 0;
}

form .input-horizontal div {
  margin-bottom: var(--spacing);
}

@media (max-width: 992px) {
  form .input-horizontal {
    display: block;
  }
}

canvas.image {
  width: 500px;
  height: 500px;
}

canvas.thumbnail {
  width: 100px;
  height: 100px;
}

/* Override Pico styling */
.ReactCrop__drag-handle[role='button'] {
  padding: 0;
  background-color: transparent;
  border: none;
}

/* .iconify {
  top: -1px;
  position: relative;
} */

/* Gallery */

.gallery {
  display: grid;
  gap: 1rem;

  grid-template-columns: auto auto auto auto auto;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

/* .gallery-image .info {
  font-size: smaller;
} */

.gallery-image:hover .zoom {
  /* box-shadow: inset 0px 0px 0px 12px orange; */
  border: 3px orange solid;
  cursor: pointer;
  max-width: 100px;
  border-radius: 5px;
}

/* <datalist> and <option> styling */

/* datalist {
  position: absolute;
  max-height: 20em;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
}

datalist option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}

datalist option:hover,
datalist option:focus {
  color: #fff;
  background-color: #036;
  outline: 0 none;
} */


/* Dialog */

/* dialog article>footer {
  text-align: right;
}

dialog article>footer, dialog article>header {
  padding: calc(var(--block-spacing-vertical) * .5) var(--block-spacing-horizontal);
}

article>footer {
  margin-top: var(--block-spacing-vertical);
  margin-bottom: calc(var(--block-spacing-vertical) * -1);
  border-top: var(--border-width) solid var(--card-border-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

article>footer, article>header {
  margin-right: calc(var(--block-spacing-horizontal) * -1);
  margin-left: calc(var(--block-spacing-horizontal) * -1);
  padding: calc(var(--block-spacing-vertical) * .66) var(--block-spacing-horizontal);
  background-color: var(--card-sectionning-background-color);
} */